$color-primary: #5ba4a4;
$color-light-1: #effafa;
$color-light-2: #eef6f6;
$color-dark-1: #7b8e8e;
$color-dark-2: #2c3a3a;

$padding-side-desktop: 11.45vw;
$padding-side-mobile: 6.4vw;

$box-shadow: 0 1.5rem 2rem -0.5rem rgba(13, 113, 130, 0.15);