.landing-page {
	background-color: #6200ea;
}
.landing-button {
	background: #ff4081;
	color: #ffffff;
	cursor: pointer;
	font-size: 0.8em;
	padding: 1.5rem;
	border: 0;
	border-radius: 10px;
	position: relative;
	margin-top: 1em;
}
