.filter-button {
  display: flex;

  &__text {
    cursor: initial !important;
    border-radius: 4px 0 0 4px !important;

    &:hover {
      background-color: $color-light-2 !important;
      color: $color-primary !important;
    }
  }

  &__x {
    background-color: $color-primary;
    width: 3.2rem;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    position: relative;
    transition: background-color 0.5s;

    &:hover {
      background-color: $color-dark-2;
    }
  }

  &__icon {
    height: 1.344rem;
    width: 1.344rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
