.header {
  //background-color: $color-primary;
 overflow: hidden;
  background-color: $color-dark-3;
  background-attachment: fixed;

  &__bg {
    height: 10rem;
    width: auto;

    &--desktop {
      display: block;
    }

    &--mobile {
      display: block;
    }
  }
}
