.header {
  //background-color: $color-primary;
 overflow: hidden;
  background-color: $color-dark-3;
  background-attachment: fixed;

  img{
    width: 50%;
    height: auto;
  }
  h1{
    color: white;
    padding: 10%;
  }
  &__bg {
    height: 50rem;
    width: auto;
    &--desktop &--tablet &--tablet-land{
      display: flex;
      flex-direction: row;

    }
    &--mobile {
      display: flex;
      flex-direction: column;
      img{
        width: 100%;
        height: auto;
      }
      h1{
        color: white;
        padding: 10%;
      }
    }
  }
}
